.main {
    padding: 0 0 320px 0;
}

.main .section:first-child {
    padding: 90px 0 0 0;
}

.section__pic {
    display: inline-block;
    float: left;
    padding: 0 30px 0 0;
}

.section-theme_promo {
    background: url(../../src/img/bgr-section-theme-promo.jpg) top center no-repeat;
    min-height: 750px;
    text-align: center;
}

.section-theme_shadow {
    box-shadow: inset 0px 0px 50px 0px rgba(1, 1, 1, .14);
}

.section-theme_about {
    background-image: linear-gradient(1.33turn, rgba(255, 255, 255, .09), rgba(1, 1, 1, .09));
    min-height: 710px;
}

.section-theme_menu {
    background-image: linear-gradient(-0.44turn, rgba(32, 90, 91, .09), rgba(255, 255, 255, .09));
    min-height: 994px;
    padding: 100px 0;
}

.section-theme_reservations {
    background-image: linear-gradient(1.03turn, rgba(32, 90, 91, .07), rgba(255, 255, 255, .07));
    min-height: 710px;
}

.section-theme_pattern-circles::after {
    background: url(../../src/img/pattern-circles.png);
    content: "";
    opacity: 0.02;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; 
}

.section-theme_pattern-poligon::after {
    background: url(../../src/img/pattern-polygon.png);
    content: "";
    opacity: 0.02;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; 
}

.section-theme_ingredients {
    background: url(../../src/img/bgr-section-theme-ingredients.jpg) top center no-repeat;
    min-height: 758px;
}

.section-theme_reviews {
    background: url(../../src/img/bgr-section-theme-reviews.jpg) top center no-repeat;
    min-height: 758px;
}

.article {
    box-sizing: border-box;  
}

.article_width-small {
    width: 370px;
    min-height: 218px;
}

.article_width-medium {
    width: 570px;
    padding-left: 70px;
    padding-right: 70px;
}

.article_width-large {
    width: 770px;
    padding: 83px 85px 102px;
}

.article-theme_black {
    background: rgba(0, 0, 0, .67);
    padding-top: 83px;
    padding-bottom: 78px;
    z-index: 0;
}

.article-theme_black::after {
    background: url(../../src/img/bgr-blends.jpg);
    content: '';
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    filter: invert(100%);
}

.article-theme_ingredients {
    position: absolute;
    right: 0;
}
.menu-wrapper {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -ms-column-count: 2;
    -o-column-count: 2;
    column-count: 2;
    column-gap: 110px;
    display: block;
}

.menu-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.menu-container__header {
    display: flex;
    justify-content: space-between;
}

.menu-container__about {
    display: flex;
    flex-flow: column;
    text-align: left;
}

.menu-container__about::before {
    content: '';
    background: url(../../src/img/divider-menu.png) center center no-repeat;
    height: 20px;
    width: 430px;
}

.menu-container:last-child {
    margin-bottom: 57px;
}

.food-ingredients {
    margin: 70px auto 0;
}

.food-ingredients__icons {
    border: 5px solid rgba(255, 255, 255, .09);
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 0 15px;
}

.pic-wheat {
    margin: -30px -40px;
}

.pic-spices{
    margin: -77px -40px;
}

.pic-bread {
    margin: -15px -40px;
}

.pic-cook {
    margin: 52px 0 0 72px;
}

.blockquote {
    font-family: GentiumBookBasic, Arial;
    color: #dde0df;
    margin: 0;
}

.blockquote::before {
    content:'“';
    position: absolute;
    opacity: 0.47;
    color: #ffffff;
    font-family: Georgia, Arial;
    font-size: 6rem;
    top: 13px;
    left: -48px;
}
.signature {
    margin: 46px auto 30px;
}

.special {
    margin: 30px -10px 10px;
    border-style: solid;
    border-width: 1px;
    border-image: url(../../src/img/bgr-special.jpg) 5 repeat;
    padding: 10px;
}

.special::before {
    content: 'Special';
    font-family: LatoRegular;
    font-size: 14px;
    display: block;
    position: absolute;
    top: -28px;
    width: 67px;
    padding: 6px;
    background: url(../../src/img/bgr-special.jpg);
    right: -1px;
    color: #ffffff;
}